@import '../../styles/variables/variables.scss';

.pagination {
  margin: 40px auto 80px;
}

.list {
  width: max-content;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 8px;
}

.list_item {
  display: inline-block;
  background-color: var(--surface-one);
  transition: all 1s;

  &__arrow {
    transition: all 0.3s;
  }

  &:first-child {
    margin-right: 8px;
    background-color: var(--surface-two);
  }

  &:last-child {
    margin-left: 8px;
    background-color: var(--surface-two);
  }

  &:hover {
    background-color: var(--elemets);
  }

  &:active {
    background-color: var(--accent);
  }

  &__disabled:first-child,
  &__disabled:last-child {
    box-sizing: border-box;
    outline: 1px solid var(--icons);
    pointer-events: none;
    background-color: var(--black);
  }
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 31px;
  width: 31px;
  border: 1px solid transparent;

  font-family: 'Mont-Regular';
  line-height: 21px;
  font-size: 14px;
  color: var(--white);
  text-decoration: none;

  transition: all 0.3s;

  &__disabled {
    background-color: var(--black);
  }
}

.active {
  background-color: var(--accent);
}
