@import '../../styles/variables/variables.scss';

.cart_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 16px;
  background-color: var(--black);
  color: var(--white);

  .cart_title {
    font-weight: 700;
    margin-bottom: 32px;
    font-size: 32px;
  }

  .cart_list {
    margin: 32px 0;
    width: 100%;
    border: 2px solid red;
  }
}

.go_back_button {
  margin-top: 24px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--white);
  // border: 2px solid gold;

  img {
    color: var(--white);
  }

  .span {
    margin-left: 8px;
    font-size: 12px;
  }
}
