@import '../../styles/utils/mixins.scss';
@import '../../styles/utils/grid.scss';
@import 'src/App';

.title {
  text-align: start;
  font-family: 'Mont', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 56px;

  letter-spacing: -0.01em;

  color: #f1f2f9;
}
