@import "../../styles/variables/variables.scss";

.category_section {
  width: 100%;
  color: var(--white);

  &__title {
    font-size: 32px;
    font-weight: 800;
    margin: 80px 0 24px;
  }

  &__grid {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    
    &__item {
      border: 2px solid gold;
      img {
        width: 100%;
      }
    }
  }
}
