@import '../../../styles/utils/mixins.scss';
@import '../../../styles/variables/variables.scss';

.add_buttons {
  display: flex;
  margin-left: auto;

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 64px;
    height: 64px;
    border-left: 1px solid var(--surface-two);
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 3px;
      transform: translateY(-500%);
      transition: 0.3s;
    }

    &.active {
      &::after {
        background-color: var(--white);
        transform: translateY(0);
      }
    }

    @include mobile {
      display: none;
    }
  }
}

.count__button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #eb5757;
  border-radius: 100%;
  color: #f1f2f9;
  right: 15px;
  bottom: 30px;
  text-decoration: none;
}
