@import '../../../styles/utils/mixins.scss';
@import '../../../styles/variables/variables.scss';

.add_buttons {
  display: flex;
  margin-left: auto;

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 64px;
    height: 64px;
    border-left: 1px solid var(--surface-two);
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 3px;
      transition: 0.3s;
    }

    &.active {
      &::after {
        background-color: var(--white);
      }
    }

    @include mobile {
      display: none;
    }
  }
}
