@import '../../styles/variables/variables.scss';

.container {
  max-width: 1136px;
  margin: 90px auto 80px;
  background-color: #0f1121;
}

.breadscrumbs_wrapper {
  padding: 24px 32px 0;
}

.dropdown_wrapper {
  margin: 40px 24px 0;
}

.pagination_wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto 80px;
}

.phones_container {
  max-width: 1138px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 24px 0 40px;
}

.title {
  max-width: 1136px;
  margin: 40px 0 0;
  text-align: start;
  font-family: 'Mont', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 56px;

  letter-spacing: -0.01em;

  color: #f1f2f9;
}

.models_amount {
  display: block;
  max-width: 1136px;
  margin: 8px 0 0;
  text-align: start;
  font-family: 'Mont-Regular';
  color: var(--secondary);
  font-size: 14px;
  line-height: 21px;
}
