.cardItem {
  background: var(--surface-one);

  &__name {
    font-family: 'Mont-Semibold', sans-serif;
    color: var(--white);
    font-size: 14px;
    line-height: 21px;
  }

  &__price {
    font-size: 22px;
    color: var(--white);
    font-family: 'Mont-Bold', sans-serif;
    line-height: 140%;
  }

  &__priceRegular {
  }

  &__priceDiscount {
  }
}
