@import '../../styles/variables/variables.scss';
@import '../../styles/utils/mixins.scss';

.wrapper {
  margin: 0 24px;
  min-height: 100vh;
}

.container {
  max-width: 1136px;
  margin: 90px auto 80px;
  background-color: var(--black);
}

.title {
  max-width: 1136px;
  margin: 40px 0 0;
  text-align: start;
  font-family: 'Mont', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 56px;

  letter-spacing: -0.01em;

  color: #f1f2f9;

  @include mobile {
    font-size: 32px;
    line-height: 41px;
  }
}

.models_amount {
  display: block;
  max-width: 1136px;
  margin: 8px 0 0;
  text-align: start;
  font-family: 'Mont-Regular';
  color: var(--secondary);
  font-size: 14px;
  line-height: 21px;
}

.no_products_message {
  max-width: 1136px;
  margin: 40px 0 0;
  text-align: start;
  font-family: 'Mont', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 56px;

  letter-spacing: -0.01em;

  color: #f1f2f9;

  @include mobile {
    font-size: 32px;
    line-height: 41px;
  }
}
