.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;

  @include tablet {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 16px;
  }

  @include desktop {
    grid-template-columns: repeat(24, 1fr);
    column-gap: 16px;
  }

  &--desktop {
    @include desktop {
      display: grid;
    }
  }

  &--tablet {
    display: grid;

    @include tablet {
      display: grid;
    }
  }

  &--mobile {
    @include mobile {
      display: grid;
    }
  }

  &__item {
    @for $start from 1 through 4 {
      @for $end from $start through 4 {
        &__#{$start}_#{$end} {
          grid-column: #{$start} / #{$end + 1};
        }

        &__mobile_#{$start}_#{$end} {
          @include mobile {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }

    @for $start from 1 through 12 {
      @for $end from $start through 12 {
        &__#{$start}_#{$end} {
          grid-column: #{$start} / #{$end + 1};
        }

        &__tablet_#{$start}_#{$end} {
          @include tablet {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }

    @for $start from 1 through 24 {
      @for $end from $start through 24 {
        &__#{$start}_#{$end} {
          grid-column: #{$start} / #{$end + 1};
        }

        &__desktop_#{$start}_#{$end} {
          @include desktop {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }
  }
}
