:root {
  --black: #0f1121;
  --secondary: #75767f;
  --icons: #4a4d58;
  --elemets: #3b3e4a;
  --surface-two: #323542;
  --surface-one: #161827;
  --white: #f1f2f9;
  --accent: #905bff;
  --green: #27ae60;
  --red: #eb5757;
}
