@import "../../styles/variables/variables.scss";
@import "../../styles/utils/mixins.scss";
@import "../../styles/utils/grid.scss";

.product_page {
  min-height: 100vh;
  margin: 0 24px;
  color: var(--white);

  &__wrapper {
    margin: 0 auto 64px;
    max-width: 1136px;
  }

  &__title {
    font-size: 22px;
    font-family: 'Mont-Bold';
    margin-top: 16px;
  }

  &__breadcrumbs {
    display: flex;
    align-items: center;
    margin-top: 24px;
    gap: 13px;
    font-size: 12px;
    line-height: 15px;
    font-family: 'Mont-Semibold';
    color: inherit;

    &__item {
      
      a {
        color: var(--white);
        transition: color 0.3s;
        text-decoration: none;

        &:hover {
          color: var(--secondary);
        }
      }

      &:last-child {
        color: var(--secondary);
      }
    }
  }

  &__back_btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
    line-height: 15px;
    font-family: 'Mont-Semibold';
    color: var(--gray);
    margin: 40px 0 0;
    transition: color 0.3s ease-in-out;
    padding: 0;

    img {
      margin-right: 8px;
    }

    &:hover {
      color: var(--secondary);
    }
  }

  &__content {
    margin-top: 40px;

    &__params {

      .product {
        &__text {
          display: flex;
          font-size: 12px;
          font-family: 'Mont-Semibold';
          line-height: 15px;
          color: var(--secondary);
        }

        &__select_capacity {
          display: flex;
          margin-top: 24px;
        }

        &__colors {
          display: flex;
          gap: 8px;
          margin-top: 8px;

          &__color {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 1px solid var(--secondary);
            position: relative;
            transition: all 0.3s;

            @include desktop {
              &:hover {
                transform: scale(115%);
              }
            }

            &::before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              border-radius: 50%;
              border: 2px solid var(--black);
            }
          }
        }

        &__capacities {
          display: flex;
          gap: 8px;
          margin-top: 8px;

          &__capacity {
            &_button {
              border: 1px solid var(--icons);
              color: var(--white);
              font-size: 14px;
              line-height: 21px;
              font-family: 'Mont-Regular';
              padding: 7px 8px 4px;
              transition: all 0.3s;

              &__active {
                background-color: var(--white);
                color: var(--black);
              }

              @include desktop {
                &:hover {
                  background-color: var(--white);
                  color: var(--black);
                }
              }
            }
          } 
        }

        &__price {
          display: flex;
          gap: 8px;
          align-items: center;
          margin-top: 40px;

          &__new {
            font-size: 32px;
            line-height: 41px;
            font-family: 'Mont-Bold';
            letter-spacing: -0.01em;
            color: var(--white);
          }

          &__old {
            font-size: 22px;
            line-height: 28px;
            font-family: 'Mont-Regular';
            color: var(--secondary);
            text-decoration-line: line-through;
          }
        }

        &__purchase_buttons {
          width: 100%;
          height: 48px;
          margin-top: 24px;
          display: flex;
          gap: 8px;

          &__to_cart {
            color: var(--white);
            width: 100%;
            background-color: var(--accent);
            font-size: 14px;
            line-height: 21px;
            font-family: 'Mont-Semibold';
          }

          &__to_favourite {
            width: 48px;
            display: grid;
            place-items: center;
            background-color: var(--surface-two);
          }
        }

        &__properties {
          margin-top: 32px;

          &__property {
            display: flex;
            justify-content: space-between;

            margin-bottom: 8px;

            &_name {
              color: var(--secondary);
              font-size: 12px;
              line-height: 15px;
              font-family: 'Mont-Semibold';
              
            }

            &_value {
              color: var(--white);
              font-family: 'Mont-Semibold';
              font-size: 12px;
              line-height: 15px;
            }
          }
        }
      }
    }
  }
}

.about_section {
  margin-top: 80px;

  &__common_title {
    font-size: 22px;
    font-family: 'Mont-Bold';
    line-height: 31px;
    color: var(--white);
  }

  &__subtitle {
    margin-top: 32px;
    font-family: 'Mont-Semibold';
    color: var(--white);
    font-size: 20px;
    line-height: 26px;
  }

  &__description {
    color: var(--secondary);
    font-family: 'Mont-Regular';
    font-size: 14px;
    line-height: 21px;
    margin-top: 16px;
    text-align: justify;
  }
}

.tech_specs_section {
  margin: 80px 0 56px;

  &__title {
    font-size: 22px;
    line-height: 31px;
    font-family: 'Mont-Bold';
    color: var(--white);
  }

  &__container {
    margin-top: 25px;
  }

  &__properties {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__property {
    font-size: 14px;
    line-height: 21px;
    font-family: 'Mont-Regular';
    color: var(--secondary);
  }

  &__value {
    font-size: 14px;
    line-height: 21px;
    font-family: 'Mont-Regular';
    color: var(--white);
  }
}

.separate__line {
  width: 100%;
  height: 1px;
  background-color: var(--elemets);
  margin-top: 25px;
}
