.footer {
    height: 96px;
    background-color: #0F1121;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 32px;
    padding-right: 32px;

    &__container{
        display: flex;
        width: 1015px;
        justify-content: space-between;
        margin: auto;
    }

    &__navlist{
        display: flex;
        gap:106px;
        align-items: center;
    }

    &__navItem{
        font-family: 'Mont', sans-serif;
        font-weight: 800;
        font-size: 12px;
        line-height: 11px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #F1F2F9;
        text-decoration: none;
    }

    &__button__box{
        display: flex;
        align-items: center;
        gap: 16px;

        &__text{
            font-family: 'Mont', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            color: #75767F;
        }
    }

    &__button{
        background: #323542;
        border:none;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

@media (max-width: 767px){
    .footer{
        height: 100%;
        &__container{
            padding-top: 32px;
            padding-bottom: 32px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        &__navlist{
            padding-top: 32px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
        }

        &__button__box{
            padding-top: 32px;
            margin: 0 auto;
        }
    }
}