.button {
  transition: filter, 0.3s ease;
  background-color: var(--surface-two);
  flex-basis: 40px;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    filter: brightness(120%);
  }
}

.pressed {
  animation: favorite 0.3s ease;
}

@keyframes favorite {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}
