.breadcrumbs {
  display: flex;
  gap: 13px;
  align-items: center;
  margin-bottom: 24px;

  &__link {
    margin-bottom: 2px;
    color: aliceblue;
    font-size: 12px;
    line-height: 15px;
    font-family: 'Mont-Semibold';
  }

  &__text {
    color: #75767f;
    font-size: 12px;
    line-height: 15px;
    font-family: 'Mont-Semibold';
  }
}

.home_icon_wrapper {
  margin-bottom: -2px;
}
