@import 'styles/fonts/fonts';
@import 'styles/variables/variables';
@import 'styles/utils/mixins';
@import 'styles/reset';

* {
  box-sizing: border-box;
}

p {
  font-family: 'Mont-Semibold', serif;
}

.App {
  background-color: var(--black);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.flex-wrapper {
  flex: 1 1 auto;
}

.container {
  margin: 0 auto;
  background-color: var(--black);

  @include desktop {
    max-width: 1200px;
    padding: 0 32px 0 32px;
  }

  @include tablet {
    min-width: 640px;
    padding: 0 24px 0 24px;
  }

  @include mobile {
    padding: 0 16px 0 16px;
  }
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--black);
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 20px;
}

