@import "../../styles/utils/mixins.scss";
@import "../../styles/utils/grid.scss";

.images {
  display: flex;
  flex-direction: row-reverse;
  @include mobile {
    margin-bottom: 40px;
    flex-direction: column;
  }

  &__current {
    padding: 7px;
    width: 100%;
    height: 250px;

    @include desktop {
      margin: 0 24px;
    }

    @include mobile {
      margin-bottom: 24px;
    }

    img {
      width: 100%;
      max-height: 250px;
      object-fit: contain;
    }
  }

  &__img {
    width: 50px;
    max-height: 100%;
  }

  &__container {
    height: 50px;
  }

  &__all {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @include mobile {
      flex-direction: row;
      margin: 0 auto;
    }

    img {
      width: 100%;
      object-fit: contain;
      display: block;
      margin: auto;
    }
  }
}
